{% extends 'base.html.twig' %}

{% block title %}{{ 'created'|trans }} : Tag{% endblock %}

{% block body %}
    <h1>{{ 'created'|trans }} : Tag</h1>

    {{ include('tag/_form.html.twig') }}

    <a href="{{ path('tag_index') }}">{{ 'back'|trans }}</a>
{% endblock %}
