{% extends 'base.html.twig' %}

{% block title %}{{ 'article'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'article'|trans }}</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>{{ 'favorite'|trans }}</th>
            <td>
                <a onclick="addToFavorite()">
                    {{ isFavorite ? '<i id="favorite" class="fas fa-heart"></i>' : '<i id="favorite" class="far fa-heart"></i>' }}
                </a>
            </td>
        </tr>
        <tr>
            <th>Id</th>
            <td>{{ article.id }}</td>
        </tr>
        <tr>
            <th>{{ 'field.title'|trans }}</th>
            <td>{{ article.title }}</td>
        </tr>
        <tr>
            <th>{{ 'content'|trans }}</th>
            <td>{{ article.content }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('article_index') }}">{{ 'back'|trans }}</a>

    <a href="{{ path('article_edit', {'id': article.id}) }}">{{ 'edit'|trans }}</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
    function addToFavorite() {
        fetch('{{ path('article_favorite', {'id': article.id}) }}')
            .then(response => response.json())
            .then(json => {
                let favoriteElt = document.getElementById('favorite');
                if (json.isFavorite) {
                    favoriteElt.classList.remove('far');
                    favoriteElt.classList.add('fas');
                }
                else {
                    favoriteElt.classList.remove('fas');
                    favoriteElt.classList.add('far');
                }
            });
    }
</script>
{% endblock %}
